---
layout: default
title: Fuel Calculator
---

<SCRIPT LANGUAGE="JavaScript">
function test (form) 
{
  var test = form.meterMile.value;
  var inpt = form.inputbox.value;
  console.log(test);
  if ( test === "1" )
  {
    form.mout.value = Math.floor(inpt/3.281) + " Meters";
  } else 
  {
    form.mout.value = Math.floor(inpt*3.281) + " Feet";
  }
  
}

function kph (form) 
{
  var test = form.kphconv.value;
  var inpt = form.kphin.value;
  console.log(test);
  if ( test === "1" )
  {
    form.kphout.value = Math.floor(inpt*1.609) + " kph";
  } else 
  {
    form.kphout.value = Math.floor(inpt/1.609) + " mph";
  }
  
}

function fuelCalc (form) 
{
    var fuel = form.inputbox.value;
    var plane = form.plane.value;

    let planes;
    switch(plane) 
    {
    {% for plane in site.data.stats %}
      {% if plane.circus == 0 %}
      case "{{ plane.id }}":

        flight_distance = Math.floor((({{ plane.fuel_maxrange }}/{{ plane.Fuel }})*fuel));
        flight_grid = Math.floor((({{ plane.fuel_maxrange }}/{{ plane.Fuel }})*fuel)/10);
        flight_time = Math.floor(1/(({{ plane.fuel_lph }}/60)/fuel));
        flight_tank = Math.floor(fuel/{{ plane.Fuel }}*100)

        form.flightSpeed.value = {{ plane.fuel_kmph }} + " kph (" + Math.floor( 0.62137119223733 * {{ plane.fuel_kmph }}) + " mph)" ;
        form.flightTime.value = flight_time + " minutes";
        form.flightDist.value = flight_distance + " km";
        form.flightGrid.value = Math.floor(flight_distance/10) + " grid squares";
        form.flightTank.value = flight_tank + "% | " + fuel + " of {{ plane.Fuel }} Liters ";
        break;
    
      {% endif %}
    {% endfor %}
      default:
        {};
    }
    // let {{ plane.id }} = ['{{ plane.Fuel }}','{{ plane.fuel_lph }}','{{ plane.fuel_h }}','{{ plane.fuel_kmph }}','{{ plane.fuel_maxrange }}']
}


</SCRIPT>

<DIV CLASS="row justify-content-sm-center">
    <DIV CLASS="col col-sm-5">
      <DIV CLASS="card">
        <DIV CLASS="card-header">
          <h4>Fuel Calculator</h4>
        </DIV>
        <DIV CLASS="card-body">
          <FORM NAME="myform" ACTION="" METHOD="GET"><strong>Plane:</strong><BR>
            <select class="form-control" id="FormControlSelect1" NAME="plane" VALUE="">
              {% for plane in site.data.stats %}
                {% if plane.circus == 0 %}
                <option value="{{ plane.id }}">{{ plane.name }} (Capacity: {{ plane.Fuel }} L)</option>
                {% endif %}
              {% endfor %}
            </select>
            <strong>Fuel Load in liters:</strong>
            <INPUT CLASS="form-control" TYPE="number" NAME="inputbox" VALUE=""><br>
            <INPUT CLASS="btn btn-secondary btn-block" TYPE="button" NAME="button" Value="Calculate" onClick="fuelCalc(this.form)">
            <HR>
            <strong>Flight Time Remaining:</strong><input class="form-control" type="text" placeholder="Time in Minutes" NAME="flightTime" VALUE="" readonly>
            <strong>Flight Distance Remaining:</strong><input class="form-control" type="text" placeholder="Distance in Kilometers" NAME="flightDist" VALUE="" readonly>
            <strong>Flight Grid Squares Remaining:</strong><input class="form-control" type="text" placeholder="Distance in map grid squares" NAME="flightGrid" VALUE="" readonly><hr>
            <strong>Assumed Cruise Speed:</strong><input class="form-control" type="text" placeholder="Speed in kph (mph)" NAME="flightSpeed" VALUE="" readonly>
            <strong>Tank Capacity:</strong><input class="form-control" type="text" placeholder="Percent Full | Current/Max" NAME="flightTank" VALUE="" readonly>
          </FORM>
        </DIV>         
      </DIV><br>
      <DIV CLASS="card">
        <DIV CLASS="card-header">
          <h4>Conversion</h4>
        </DIV>
        <DIV CLASS="card-body">
          <FORM NAME="myform" ACTION="" METHOD="GET"><strong></strong>
            <div class="row">
              <div class="col">
                <INPUT CLASS="form-control form-control-sm" TYPE="number" NAME="inputbox" VALUE="">
              </div>
              <div class="col">
                <input class="form-control form-control-sm" type="text" placeholder="" NAME="mout" VALUE="" readonly>
              </div>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="meterMile" id="inlineRadio1" value="0" onClick="test(this.form)">
              <label class="form-check-label" for="inlineRadio1">Meters</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="meterMile" id="inlineRadio2" value="1" onClick="test(this.form)">
              <label class="form-check-label" for="inlineRadio2">Feet</label>
            </div><hr>
            <div class="row">
              <div class="col">
                <INPUT CLASS="form-control form-control-sm" TYPE="number" NAME="kphin" VALUE="">
              </div>
              <div class="col">
                <input class="form-control form-control-sm" type="text" placeholder="" NAME="kphout" VALUE="" readonly>
              </div>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="kphconv" id="inlineRadio1" value="0" onClick="kph(this.form)">
              <label class="form-check-label" for="inlineRadio1">kph</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="kphconv" id="inlineRadio2" value="1" onClick="kph(this.form)">
              <label class="form-check-label" for="inlineRadio2">mph</label>
            </div>
          </FORM>
        </DIV>         
      </DIV>
    </DIV>
</DIV>
<BR>
<FOOTER CLASS="footer">
  <DIV CLASS="container">
    <DIV CLASS="row justify-content-sm-center">
      <DIV CLASS="col col-lg-7">
        <SPAN CLASS="text-muted">All Images and Data courtesy of <a href="https://il2sturmovik.com/">1C Studios</a></SPAN>
      </DIV>
    </DIV>
  </DIV>
</FOOTER>