---
layout: default
title: CT
---

<div class="table-responsive"><br>
    <div class="container">
            <h3 class="text-center" >Compare Time to Climb to Altitude</h3><hr>
        <!-- The Chart -->
    <div class="row container">
        <canvas id="myChart" width="400" height="200"></canvas>
    </div><hr>
        <!-- Checkboxes for Planes -->
    <div class="row justify-content-md-center">
        <div class="col-md-auto a-plane">
            <h5>Available Planes for Comparison</h5>
        </div>
    </div>

    <div class="row container">
    <div class="col-sm">
        {% for plane in site.data.ct %}
            {% if plane.circus == 0 %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="{{ plane.id }}" onclick="clicked()"><label class="form-check-label" for="{{ plane.id }}"> {{ plane.name }}</label>
            </div>
            {% endif %}
        {% endfor %}
    </div><hr>
     <div class="row container">
         <div class="col-sm">
            <em>**All values are taken from in game AI limitations which means player controlled planes could perform outside of the ranges specified.**</em>
        </div>
    </div>
</div>
</div>
</div>

<script src="assets/tables/ct.js" type="text/javascript"></script>