---
layout: default
title: Kneeboard IL2
---
<div class="row justify-content-sm-center">
  <div class="col col-lg-7">
{% for plane in site.data.info %}
{% if plane.circus == 0 %}

<div class="accordion" id="{{ plane.id }}_accd">
<div class="card">
  <img class="card-img-top" src="assets/img/l_{{ plane.id }}.png" alt="{{ plane.name }}">
  <div class="card-header">
    <h3 class="card-title stencil_body" >
    {{ plane.name }}
    </h3> 

    <div class="card" id="{{ plane.id }}_heading">
        <button class="btn-sm btn-dark btn-block btn-block" type="button" data-toggle="collapse" data-target="#{{ plane.id }}_e" aria-expanded="true" aria-controls="{{ plane.id }}_e">
          Engine
        </button>
    </div>
    <div id="{{ plane.id }}_e" class="collapse" aria-labelledby="{{ plane.id }}_heading" data-parent="#{{ plane.id }}_accd">
      <div class="card-body">
        <h5 class="stencil_body">Optimal Engine Settings</h5>
        <p class="indent">{{ plane.engine }}</p>
        <h5 class="stencil_body">Optimal Temp Settings</h5>
        <p class="indent">{{ plane.temp }}</p>
      </div>
    </div>

    <div class="card" id="{{ plane.id }}_heading">
        <button class="btn-sm btn-dark btn-block" type="button" data-toggle="collapse" data-target="#{{ plane.id }}_s" aria-expanded="true" aria-controls="{{ plane.id }}_s">
          Speed
        </button>
    </div>
    <div id="{{ plane.id }}_s" class="collapse" aria-labelledby="{{ plane.id }}_heading" data-parent="#{{ plane.id }}_accd">
      <div class="card-body">
        <h5 class="stencil_body">Takeoff & Landing</h5>
        <p class="indent">{{ plane.speeds }}</p>
        <h5 class="stencil_body">Cimb & Dive</h5>
        <p class="indent">{{ plane.climb }} <br> {{ plane.dive }}</p>
        
      </div>
    </div>

    <div class="card" id="{{ plane.id }}_heading">
        <button class="btn-sm btn-dark btn-block" type="button" data-toggle="collapse" data-target="#{{ plane.id }}_stats" aria-expanded="true" aria-controls="{{ plane.id }}_stats">
          Stats
        </button>
    </div>
    <div id="{{ plane.id }}_stats" class="collapse" aria-labelledby="{{ plane.id }}_heading" data-parent="#{{ plane.id }}_accd">
      <div class="card-body">
        <h5 class="stencil_body">Debut</h5>
        <p class="indent">{{ plane.debut }}</p>
        <h5 class="stencil_body">Size & Weight</h5>
        <p class="indent">{{ plane.weight }}<br>{{ plane.dimensions }}</p>
      </div>
    </div>

    <div class="card" id="{{ plane.id }}_heading">
        <button class="btn-sm btn-dark btn-block" type="button" data-toggle="collapse" data-target="#{{ plane.id }}_limits" aria-expanded="true" aria-controls="{{ plane.id }}_limits">
          Limits
        </button>
    </div>
    <div id="{{ plane.id }}_limits" class="collapse" aria-labelledby="{{ plane.id }}_heading" data-parent="#{{ plane.id }}_accd">
      <div class="card-body">
        <h5 class="stencil_body">Endurance</h5>
        <p class="indent">{{ plane.endurance }}</p>
        <h5 class="stencil_body">Optimal Turn Time</h5>
        <p class="indent">{{ plane.turn }}</p>
        <h5 class="stencil_body">Max True Air Speed</h5>
        <p class="indent">{{ plane.max_air }}</p>
        <h5 class="stencil_body">Stall Speed</h5>
        <p class="indent">{{ plane.stall }}</p>
      </div>
    </div>

    <div class="card" id="{{ plane.id }}_heading">
        <button class="btn-sm btn-dark btn-block" type="button" data-toggle="collapse" data-target="#{{ plane.id }}_feat" aria-expanded="true" aria-controls="{{ plane.id }}_feat">
          Features
        </button>
      </h2>
    </div>
    <div id="{{ plane.id }}_feat" class="collapse" aria-labelledby="{{ plane.id }}_heading" data-parent="#{{ plane.id }}_accd">
      <div class="card-body">
        <h5 class="stencil_body">Operational Features</h5>
        <ul>{{ plane.features }}</ul>
      </div>
    </div>
  </div>
  </div>
</div>

<br>
{% endif %}
{% endfor %}
</div>
</div>
<br>
<footer class="footer">
  <div class="container">
    <span class="text-muted">All Images and Data courtesy of <a href="https://il2sturmovik.com/">1C Studios, IL2 Sturmovik and their Great Battles series</a></span>
  </div>
</footer>